@import '../variables.scss';

.aboutPageContainer {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.aboutImage {
    height: 540px;
    object-fit: contain;
    position: relative;
    width: 45%;
    margin-right: $spacing-lg;
}

.paragraph {
    width: 50%;

    p {
        font-family: $font-primary;
        color: $c-copy-gray;
        font-size: 18px;
        line-height: 1.5;
    }
}