@import '../variables.scss';

.aboutPageContainer {
    display: flex;
    align-items: center;
}

.aboutImage {
    height: 540px;
    object-fit: contain;
    position: relative;
    width: 130%;
    margin-right: $spacing-lg;
}