@import '../variables.scss';

.bannerContainer {
    background-color: $c-white;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 10px;
    

    div {
        background-color: $c-white;
        width: 33%;
    }
}