@import '../variables.scss';

.header {
    &__image {
        max-width: 450px;
        object-fit: contain;
        position: relative;
    }
}

.headerImage {
    height: 640px;
    object-fit: contain;
    position: absolute;
    right: 50px;
    width: 40%;

    &::before {
        background-image: linear-gradient(-45deg, #ACF2D1 26%, transparent 20%), linear-gradient(135deg, #ACF2D1 25%, transparent 20%);
        background-position: 0 0, 10px 10px;
        background-size: 20px 20px;
        content: '';
        display: block;
        height: 100%;
        left: -70px;
        position: absolute;
        top: 50px;
        width: 100%;
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        background-color: $c-blue-secondary;
        height: 100vh;
        width: 90%;
        right: -70px;
        top: -85px;
    }

    img {
        z-index: 1;
    }
}

.page-title_titleContainer {
    h1 {
        font-weight: 300;
    }
}