@import '../variables.scss';
  
.mainContainer {
  background-color: $c-white;
  // background: linear-gradient(90deg, $c-white 80%, $c-blue-secondary 80%);
  height: 90%;
  margin: 50px;
}

.content {
  &Navigation {
    nav {
      width: 100;
    }
    
    ul {
      display: flex;
      justify-content: center;
      list-style: none;
      width: 100%;
    }

    li {
      margin-right: 20px;
    }
  }
}

.backToHome {
  position: absolute;
  top: 8%;
  right: 8%;
  
  &::before {
    content: '<';
    display: inline-block;

  }
}