@import '../variables.scss';
  
.mainContainer {
  background-color: $c-deep-purple;
  display: flex;
  height: 90%;
  flex-wrap: nowrap;
  margin: 5%;
  padding: 50px;
}

.content {
  &Navigation {
    width: 20%;
  }

  &Maincontent {
    width: 50%;
  }
}