@import '../variables.scss';
  
.mainContainer {
  background-color: $c-white;
  display: flex;
  height: 90%;
  flex-wrap: nowrap;
  margin: 5%;
  padding: 50px;
}

.content {
  &Navigation {
    width: 20%;
  }

  &Maincontent {
    width: 80%;
  }
}

.backToHome {
  // color: $c-white;
  position: absolute;
  top: 8%;
  right: 8%;
  
  &::before {
    content: '<';
    display: inline-block;

  }
}