@import '../variables.scss';

.titleContainer {
    max-width: 40%;

    h1 {
        font-weight: 300;
        color: $c-copy-dark;
        z-index: 1;
    }

    p {
        position: relative;
        z-index: 1;
    }
}

.purple {
    position: relative;

    &::before {
        background: $c-light-purple;
        bottom: -15px;
        content: '';
        display: inline-block;
        height: $spacing-lg;
        left: -10px;
        position: absolute;
        width: 100%;
        z-index: 0;
    }
}

.titleHeadline {
    position: relative;

    &.purple {
        background-color: $c-purple;
    }
}