@import './variables.scss';

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 18px;
  height: 100%;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  width: 100%;
}

html {
  /* background: linear-gradient(90deg, rgba(0,0,0,0) 15%, rgba(106,0,133,1) 40%), url("../assets/site-background.jpeg"); */
  /* background: linear-gradient(0deg, rgba(0,0,0,1) 15%, rgba(106,0,133,1) 100%); */
  background: $c-white;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  color: $c-copy-gray;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

a {
  color: $c-deep-purple;
  text-decoration: none;
}

p {
  color: $c-copy-gray;
  font-family: $font-primary;
  font-weight: 300;
}

a:hover {
  text-decoration: underline;
}

button {
  font-family: Lato, Arial, Helvetica, sans-serif;
  color: $c-copy-dark;
  width: 260px;
  height: 50px;
  flex-shrink: 0;
  border: none;
}

img {
  max-width: 100%;
  display: block;
}

#__next {
  height: 100%;
}